@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Outfit', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

p {
  font-size: 1.6rem;
}

h1 {
  font-size: 6rem;
}

.app {
  width: 100%;
  height: 100vh;
  position: relative;
  background-color: rgba(0,0,0,0.4);
  color: #fff;
}

.app:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

.app.clear-day:before {
  background: url('./assets/clear-day.jpg') no-repeat center center/cover;
}

.app.clear-night:before {
  background: url('./assets/clear-night.jpg') no-repeat center center/cover;
}

.app.cloudy-day:before {
  background: url('./assets/cloudy-day.jpg') no-repeat center center/cover;
}

.app.cloudy-night:before {
  background: url('./assets/cloudy-night.jpg') no-repeat center center/cover;
}

.app.drizzle-day:before {
  background: url('./assets/drizzle-day.jpg') no-repeat center center/cover;
}

.app.drizzle-night:before {
  background: url('./assets/drizzle-night.jpg') no-repeat center center/cover;
}

.app.rainy-day:before {
  background: url('./assets/rainy-day.jpg') no-repeat center center/cover;
}

.app.rainy-night:before {
  background: url('./assets/rainy-night.jpg') no-repeat center center/cover;
}

.app.snowy-day:before {
  background: url('./assets/snowy-day.jpg') no-repeat center center/cover;
}

.app.snowy-night:before {
  background: url('./assets/snowy-night.jpg') no-repeat center center/cover;
}

.app.thunderstorm-day:before {
  background: url('./assets/thunderstorm-day.jpg') no-repeat center center/cover;
}

.app.thunderstorm-night:before {
  background: url('./assets/thunderstorm-night.jpg') no-repeat center center/cover;
}

.app.default-day:before {
  background: url('./assets/default-day.jpg') no-repeat center center/cover;
}

.app.default-night:before {
  background: url('./assets/default-night.jpg') no-repeat center center/cover;
}

.app .search {
  text-align: center;
  padding: 1rem;
}

.app input {
  padding: .7rem 1.5rem;
  font-size: 1.2rem;
  border-radius: 25px;
  border: 1px solid gray;
  background: rgba(255,255,255, 0.1);
  color: #f8f8f8;
  outline: none;
}
.app input:focus{
  border-color: white;
}

::placeholder {
  color: #f8f8f8;
}

.container {
  max-width: 700px;
  height: 620px;
  margin: auto;
  padding: 0 1rem;
  position: relative;
  top: 10%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 2px solid rgba(255,255,255,0.5);
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.5);
}

.top {
  text-align: center;
  margin-top: 2rem;
}

.location p {
  font-size: 2rem;
  font-weight: 500;
}

.temp h1 {
  margin-top: 1rem;
}

.description p {
  margin: 10px 0;
  font-size: 2rem;
  font-weight: 500;
}

.weather-icon {
  width: 100px;
  height: 100px;
}

.bottom {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  width: 100%;
  margin: 8rem auto;
  padding: 1rem;
  border-radius: 12px;
  background-color: rgba(255,255,255, 0.2);
}

.bold {
  font-weight: 700;
}

@media (max-width: 600px) {
  .container {
    width: 95%;
  }

  .temp h1 {
    font-size: 4em;
  }

  .location p, .description p {
    font-size: 1.2em;
  }

  .bottom {
    flex-direction: column;
  }

  .bottom div {
    margin-bottom: 10px;
  }
}